/* Table */
.table {
    margin: 3% auto;
    width: 75%;
    max-width: 100%;
    margin-bottom: 3em;
    font-size: 0.9em;
    border: 1px solid #ddd;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Table header and table cell */
td, th {
    padding: 1em;
    border: 1px solid #ccc;
    text-align: left;
}

tr > td:nth-of-type(5)
{
    width: 40%;
}

/* Table Header */
th {
    color: black;
    font-weight: bold;
    text-align: center;
}

/* Table body hover */
tbody > tr:hover {
    background: #f5f5f5;
}

/* a tag */
a, input[type=submit] {
    text-decoration: none;
    color: #337ab7;
    background: none;
    border: none;
    cursor: pointer;
    overflow: visible;
    width: auto;
}

input[type=submit]{
    margin-top: 1em;
    font-size: 1em;
}

a:hover, input[type=submit]:hover {
    text-decoration: underline;
}

#page-header {
    font-size: 2em;
    margin: 7% 0 0 12%;
    font-weight: 400;
}






/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 1000px) {
    /* Header */
    #page-header {
        margin: 12% 0 0 15%;
        font-weight: 400;
    }

    /* Table */
    .table {
        margin: 3% 15%;
        width: 70%;
        max-width: 100%;
        margin-bottom: 4em;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Id"; }
    td:nth-of-type(2):before { content: "Name"; }
    td:nth-of-type(3):before { content: "Email"; }
    td:nth-of-type(4):before { content: "Subject"; }
    td:nth-of-type(5):before { content: "Email"; }
    td:nth-of-type(6):before { content: "Date"; }
}
