body {
  margin: 0;
  font: 400 0.813em Arial;
  background: lavender;
}

                        /* Content */
#content {
  min-height: calc(86vh - 70px);
}

.wrapper{
    margin-top: 4%;
    margin-bottom: 7%;
  }
  
.wrapper h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #e69214;
  margin: 12px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 55px;
  width: 350px;
  padding: 40px;
  line-height: 40px;
  color:#003d75;  
  position: relative;
  box-shadow: 0 10px 20px 0 #138ba4;
}

.team .team_member h3{
  font-size: 30px;
  margin-top: 50px;
}

.team .team_member p.smallinfo{
  margin: 12px 0;
  font-size: 14px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 120px;
  height: 130px;
  border-radius: 50%;
}
