html, body {
    min-height:100%;
}

body {
	background: url("../img/background_image.jpeg");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}


/* Container which surronds the whole form */
#container {
	background: white;
	background: linear-gradient(45deg, black, transparent);
	padding: 10% 0 auto 0;
	border-radius: 7px;
	opacity: 0.92;
	box-shadow: 7px 7px 5px grey;
}

/* All buttons and inputs */
button, input.credentials {
	margin: 5% 6% 1%;
	font: 400 .875rem Arial;
}

/* Email and password inputs */
input.credentials {
	display: block;
	width: 85%;
	padding: 10px 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

/* Remember me checkbox */
input[type="checkbox"] {
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	appearance: checkbox;
	display: inline-block;
	width: auto;
	margin-left: 6%;
}

label {
	font: 400 .875rem Arial;
	color: white;
}

/* Errors under input */
div.error {
	color: red;
	margin: 2% 6% 0;
	font: bold .875rem Arial;
}


/* Buttons */
/* All buttons/ common style*/
button {
	width: 42%;
	display: inline-block;
	cursor: pointer;
	padding: 10px 32px;
	font-size: 0.95em;
	border-radius: 3px;
	border-style: none;
}
button > a {
	text-decoration: none;
	color: white;
	display:inline-block;
	width: 100%;
}

button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Login button */
button#login {
	background-color: #118c11;
    color: white;
	margin-right: 1%;
}

/* Sign up button */
button#signup {
	color: white;
	background-color: #d68916;
	margin-left: 1%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#container {
		width: 65%;
		margin: 15% 22% auto 22%;
		padding: 10% 0%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width : 767px) {
	#container {
		width: 60%;
		margin: 7% 20% auto 20%;
		padding: 7% 0%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width : 992px) {
	#container {
		width: 50%;
		margin: 5% 25% auto 25%;
		padding: 7% 0%;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width : 1200px) {
	#container {
		width: 40%;
		margin: 7% 30% auto 30%;
		padding: 7% 0%;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#container {
		width: 30%;
		margin: 3% 35% auto 35%;
		padding: 5% 0%;
	}

	/* Remember me checkbox */
	input[type="checkbox"] {
		margin-left: 6%;
	}
}