														/* Navbar */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #138ba4;
	opacity: 0.9;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
}

li {
 	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #005769;
}


/* Active tab */
.active {
	background-color: #d68916;
}


/* Logout button */
li#logout {
	float: right;
}